<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Register</title>
</head>
<body>
<div id="login">
    <h1>Login</h1>
    <form method="post">
        帳號：
        <input type="text" id="account" name="account" />
        密碼：
        <input type="password" id="password" name="password" />
        確認密碼
        <input type="password" id="password-repeat" name="password-repeat"  />
        電子信箱
        <input type="text" id="email" name="email"  />
        <input type="submit" value="Submit" />

    </form>
</div>
</body>
</html>